name: Node CI

on:
  - pull_request

jobs:
  check:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./actions/shared-node-cache
      - run: pnpm run lint

      # Test filter-files 
      - uses: ./actions/filter-files
        id: fftest1
        with:
          changed-files: '["one", "two", "two/three"]'
          files: |
            one
            two
            three
      - uses: ./actions/filter-files
        id: fftest2
        with:
          changed-files: '["one", "two/three"]'
          files: 'two/'
      - uses: ./actions/filter-files
        id: fftest3
        with:
          changed-files: '["one.ts", "two", "three.js", "four.js.config"]'
          extensions: .js, .ts
      - uses: ./actions/filter-files
        id: fftest4
        with:
          changed-files: '["one", "two/three", "two/three/four"]'
          files: 'two/three'
      - uses: ./actions/filter-files
        id: fftest5
        with:
          changed-files: '["one", "two/three", "two/three/four"]'
          files: 'two/three'
          invert: true
      - uses: ./actions/filter-files
        id: fftest6
        with:
          changed-files: '["one/two", "two/three"]'
          globs: |
            # Comment here
            one/*
            # With comments

      - uses: actions/github-script@v7
        name: Test the 'filter-files' action
        with:
          script: |
            const fftest1 = `${{ steps.fftest1.outputs.filtered }}`;
            if (fftest1 !== `["one","two"]`) {
              core.setFailed('fftest1: ' + fftest1)
            }
            const fftest2 = `${{ steps.fftest2.outputs.filtered }}`;
            if (fftest2 !== `["two/three"]`) {
              core.setFailed('fftest2: ' + fftest2)
            }
            const fftest3 = `${{ steps.fftest3.outputs.filtered }}`;
            if (fftest3 !== `["one.ts","three.js"]`) {
              core.setFailed('fftest3: ' + fftest3)
            }
            const fftest4 = `${{ steps.fftest4.outputs.filtered }}`;
            if (fftest4 !== `["two/three"]`) {
              core.setFailed('fftest4: ' + fftest4)
            }
            const fftest5 = `${{ steps.fftest5.outputs.filtered }}`;
            if (fftest5 !== `["one","two/three/four"]`) {
              core.setFailed('fftest5: ' + fftest5)
            }
            const fftest6 = `${{ steps.fftest6.outputs.filtered }}`;
            if (fftest6 !== `["one/two"]`) {
              core.setFailed('fftest6: ' + fftest6)
            }
            const sixMatched = ${{ steps.fftest6.outputs.matched_any }};
            if (!sixMatched) {
              core.setFailed('fftest6 matched_any: ' + fftest6)
            }

      # Test get-changed-files
      - uses: ./actions/get-changed-files
        id: changed-limited
        with:
          directories: |
            .github/
            .changeset

      - uses: ./actions/get-changed-files
        id: changed
      - run: echo '${{ steps.changed.outputs.files }}'

      # Test json-args with a failing command
      - uses: ./actions/json-args
        continue-on-error: true
        with:
          list: '["one/arg/its/a/path/","another arg with spaces in it"]'
          run: node -e 'console.log(process.argv); process.exit(1)' {}

      # Test json-args with an invalid list argument
      - uses: ./actions/json-args
        continue-on-error: true
        with:
          list: ${{ steps.nonexistant.outputs.something }}
          run: node -e 'console.log(process.argv); process.exit(1)' {}

      - uses: ./actions/check-for-changeset
        with:
          exclude: .github/,utils,.eslintrc.js,.prettierrc.js
