name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./actions/shared-node-cache

      - uses: actions/github-script@v7
        id: has-changesets
        with:
          script: |
            return require('fs')
              .readdirSync('.changeset')
              .some(x => x !== 'README.md' && !x.startsWith('.') && x.endsWith('.md'))
          result-encoding: json

      - run: node utils/run-publish.js
        if: steps.has-changesets.outputs.result == 'false'

      - name: Create Release Pull Request or Publish as tags
        if: steps.has-changesets.outputs.result == 'true'
        uses: changesets/action@v1
        with:
          publish: exit 1
        env:
          GITHUB_TOKEN: ${{ secrets.KHAN_ACTIONS_BOT_TOKEN }}
          # We don't specify NPM_TOKEN here because we don't publish to npm. We
          # only use the changesets action to prepare the Version Packages PR,
          # but once we land that, we use our publish-to-github-tags approach
          # which is implemented above in the utils/run-publish.js step.
